.DS_Store
xcuserdata
PaloSandroSynth/.vs
PaloSandroSynth/build-web/*.data
PaloSandroSynth/build-web/imgs*
PaloSandroSynth/build-web/fonts.js
PaloSandroSynth/build-web/svgs.js
PaloSandroSynth/build-web/favicon.ico
*.RPP-bak